https://eatonphil.com {
	encode zstd gzip
	
	# Set this path to your site's directory.
	root * /usr/share/caddy/home

	# Enable the static file server.
	file_server

	log {
		# TODO: figure out a backup solution
		output file /var/log/caddy/eatonphil.com.access.log {
			roll_size 1gb
			roll_keep 15
			roll_keep_for 36500d # 100 years
		}
	}
}

https://lists.eatonphil.com {
	encode zstd gzip
	
	# Set this path to your site's directory.
	root * /usr/share/caddy/lists

	# Enable the static file server.
	file_server

	log {
		# TODO: figure out a backup solution
		output file /var/log/caddy/lists.eatonphil.com.access.log {
			roll_size 1gb
			roll_keep 15
			roll_keep_for 36500d # 100 years
		}
	}
}

https://notes.eatonphil.com {
	encode zstd gzip
	
	# Set this path to your site's directory.
	root * /usr/share/caddy/notes/docs

	# Enable the static file server.
	file_server

	log {
		# TODO: figure out a backup solution
		output file /var/log/caddy/notes.eatonphil.com.access.log {
			roll_size 1gb
			roll_keep 15
			roll_keep_for 36500d # 100 years
		}
	}
}

import Caddyfile.d/*.caddyfile
